/* ===============================
   Colour Palette:
   ---------------
   Light Cream:	#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
   position: relative;
   width:100%;
   margin:auto;
   background-image: url('../images/bg-tile.gif');
   font-family: "Open Sans";
   color: #4b2707;
}

.container {
   position: relative;
   display: inline-block;
   margin: auto;
   text-align: center;
   width:100%;

}


/* Typography */

h1, h2 {
   font-family: "Love Ya Like A Sister";
   color: #d17f38;
   font-size: 40px;
}

h1 {
   margin: 0 0;
}

h1 span {
color: #4b2707;
}

h2 {

}

h3 {
   font-weight: 400;
   text-decoration: none;
   font-size: 30px;
   font-family: 'Open Sans';
}

p.lead {

}

p {

}

a:link, a:visited {

}

a:hover {

}

hr {
   background-image: url('../images/divider.png')
}


/* Header */

header nav {
   margin: auto;
   font-family: "Open Sans";
}

header nav ul {

}

header nav ul li {
   display: inline;
   text-transform: uppercase;
   margin-left: 30px;

}

header nav ul li a {
   font-weight:bold;
   text-decoration:none;
   color: #d17f38;
   font-size: 14px;
}

header nav ul li a:hover {
color: #4b2707;
}

header nav ul li#logo a {
   min-height:141px; 
   min-width: 259px;
   margin:auto;


}

header nav ul li#logo a:hover {

}


/* Hero */

#hero {
   background-image: url('../images/bg-tile-yellow.gif');
   width: 100%;
   padding: 20px 0 20px 0;
   margin-bottom: 30px;

}

#hero .large-ribbon {
   position: absolute;
   margin-left: 54%;
   margin-top:-40px;
}


/* The Whole Story */

hr#head-hr {
   border:none;
   background: url('../images/header-divider.png') no-repeat top center;
   height: 40px;
   margin: 0 0;
}

#story-excerpt {
   clear: both;
   float: left;
   width:50%;
}

#best-donut {
   float: left;
   width:50%;
}


/* News & Events */

#articles {

}

#feature-image {

}

#news-events article {

}

#news-events article.news {

}

#news-events article.event {

}

#news-events header time {

}

#news-events section.excerpt {

}

#news-events footer {

}


/* Footer */

footer.main {
   background-image: url('../images/bg-tile-brown.gif');
}

footer.main a:hover {

}

#uncopyright, #credits {

}

#uncopyright {

}

#credits {

}


/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */
